<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Model\Layout\Merge">
        <plugin sortOrder="1" name="eBoostLayoutUpdateMerge" type="EBoost\LayoutUpdate\Plugin\Magento\Framework\View\Model\Layout\Merge"/>
    </type>
    <type name="\Magento\Framework\View\LayoutInterface">
        <plugin sortOrder="100" name="eBoostLayoutUpdate" type="EBoost\LayoutUpdate\Plugin\Magento\Framework\View\Layout"/>
    </type>
</config>